In [ ]:
#Q1: Some of the facilities charge a fee to members, but some do not. 
#Write a SQL query to produce a list of the names of the facilities that do. 

SELECT * FROM `Facilities` WHERE membercost > 0;

In [ ]:
#Q2: How many facilities do not charge a fee to members?

6

In [ ]:
#Q3: Write an SQL query to show a list of facilities that charge a fee to members,
#where the fee is less than 20% of the facility's monthly maintenance cost.
#Return the facid, facility name, member cost, and monthly maintenance of the
#facilities in question.

SELECT facid, name, membercost, monthlymaintenance 
FROM `Facilities` 
WHERE membercost > 0 
AND (membercost/monthlymaintenance) < 0.2;

In [ ]:
#Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
#Try writing the query without using the OR operator

SELECT *
FROM `Facilities`
WHERE facid
IN ( 1, 5 )

In [ ]:
#Q5: Produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their 
#monthly maintenance cost is more than $100. Return the name and monthly maintenance of the facilities in question.

SELECT name, monthlymaintenance,
CASE WHEN monthlymaintenance <=100
THEN 'cheap'
ELSE 'expensive'
END AS label
FROM `Facilities`

In [ ]:
#Q6: You'd like to get the first and last name of the last member(s)
#who signed up. Try not to use the LIMIT clause for your solution.

SELECT surname, firstname
FROM `Members`
WHERE joindate = (
SELECT MAX( joindate )
FROM `Members` )

In [ ]:
#Q7: Produce a list of all members who have used a tennis court.
#Include in your output the name of the court, and the name of the member
#formatted as a single column. Ensure no duplicate data, and order by
#the member name.

SELECT DISTINCT CONCAT( m.firstname, ' ', m.surname ) AS member_name, f.name AS facility_name
FROM `Bookings` AS b
LEFT JOIN `Facilities` AS f ON b.facid = f.facid
LEFT JOIN `Members` AS m ON b.memid = m.memid
WHERE f.name LIKE 'Tennis%'
ORDER BY member_name

In [ ]:
#Q8: Produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30. 
#Remember that guests have different costs to members (the listed costs are per half-hour 'slot'), and 
#the guest user's ID is always 0. Include in your output the name of the facility, the name of the member formatted 
#as a single column, and the cost. Order by descending cost, and do not use any subqueries

SELECT DISTINCT CONCAT( m.firstname, ' ', m.surname ) AS member_name, f.name AS facility_name,
CASE WHEN b.memid =0
THEN f.guestcost * b.slots
ELSE f.membercost * b.slots
END AS cost
FROM `Bookings` AS b
LEFT JOIN `Facilities` AS f ON b.facid = f.facid
LEFT JOIN `Members` AS m ON b.memid = m.memid
WHERE b.starttime LIKE '2012-09-14%'
AND 30 <
CASE WHEN b.memid =0
THEN f.guestcost * b.slots
ELSE f.membercost * b.slots
END
ORDER BY cost DESC

In [ ]:
#Q9: This time, produce the same result as in Q8, but using a subquery.

SELECT DISTINCT CONCAT( m.firstname, ' ', m.surname ) AS member_name, f.name AS facility_name,
CASE WHEN b.memid =0
THEN f.guestcost * b.slots
ELSE f.membercost * b.slots
END AS cost
FROM `Bookings` AS b
LEFT JOIN `Facilities` AS f ON b.facid = f.facid
LEFT JOIN `Members` AS m ON b.memid = m.memid
WHERE b.starttime LIKE '2012-09-14%' AND b.bookid
IN (SELECT b.bookid
FROM `Bookings` AS b
LEFT JOIN `Facilities` AS f ON b.facid = f.facid
WHERE (b.memid =0 AND f.guestcost * b.slots >30) OR (b.memid >0 AND f.membercost * b.slots >30))
ORDER BY cost DESC

In [65]:
import sqlite3
connection = sqlite3.connect("sqlite_db_pythonsqlite.db")

In [57]:
cursor

In [66]:
cursor = connection.cursor()

In [67]:
#Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total 
#revenue, sorted by revenue. Remember that there's a different cost for guests and members!
q10 = cursor.execute("SELECT ")

q10 = cursor.execute("SELECT f.name, SUM(CASE WHEN b.memid=0 THEN f.guestcost * b.slots ELSE f.membercost * b.slots END) AS revenue FROM Facilities f JOIN  Bookings b ON f.facid = b.facid GROUP BY f.name HAVING revenue <1000 ORDER BY revenue DESC").fetchall()
print(q10)

[('Pool Table', 270), ('Snooker Table', 240), ('Table Tennis', 180)]

In [63]:
q11 = cursor.execute("SELECT m.surname, m.firstname FROM Members m WHERE recommendedby > 0 ORDER BY m.surname ASC").fetchall()
print(q11)

[('Bader', 'Florence'), ('Baker', 'Anne'), ('Baker', 'Timothy'), ('Boothe', 'Tim'), ('Butters', 'Gerald'), ('Coplin', 'Joan'), ('Crumpet', 'Erica'), ('Dare', 'Nancy'), ('Farrell', 'Jemima'), ('Farrell', 'David'), ('GUEST', 'GUEST'), ('Genting', 'Matthew'), ('Hunt', 'John'), ('Jones', 'David'), ('Jones', 'Douglas'), ('Joplette', 'Janice'), ('Mackenzie', 'Anna'), ('Owen', 'Charles'), ('Pinker', 'David'), ('Purview', 'Millicent'), ('Rownam', 'Tim'), ('Rumney', 'Henrietta'), ('Sarwin', 'Ramnaresh'), ('Smith', 'Darren'), ('Smith', 'Tracy'), ('Smith', 'Jack'), ('Smith', 'Darren'), ('Stibbons', 'Ponder'), ('Tracy', 'Burton'), ('Tupperware', 'Hyacinth'), ('Worthington-Smyth', 'Henry')]